.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 20px;
    left: 5%;
}

.logo {
    width: 2rem;
    height: 2rem;
}