.main-container {
    background-color: #7D33FF;
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inner-payment-container {
    background-color: white;
    color: #6D6D6D;
    padding: 2.5rem 2rem;
    width: 56vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    overflow: scroll;
    justify-content: space-between;
}

.main-heading {
    display: flex;
    justify-content: center;
    color: black;
}

.payment-button {
    display: flex;
    justify-content: center;
    background-color: #7D33FF;
    padding: 1.2rem 3rem;
    align-items: center;
    height: 2rem;
    margin-top: 1rem;
    color: #E3E1E5;
    font-size: 0.8rem;
    border-radius: 3px;
    cursor: pointer;
}

.final-price {
    color: black;
   
}

.method-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border: 1px #E9E8EA solid;
    border-radius: 0.5rem;
}

.method-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.payment-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.total-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}