.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: darkseagreen;
    color: black;
    position: absolute;
    top: 20px;
    right: 5%;
}